<div class="image">
    <div id="container">
        <div class="d-flex vh-100 justify-content-center">
            <div class="row align-self-center">
               
              
                <div class="card" style="width: 29rem;">
                    <img class="card-img-top" src="/assets/user.png" alt="Card image cap">
                    <div class="card-body">
                      <h2 class="card-title" style="text-align:center ;">Fuel Distribution System</h2>
                      <h5 class="card-title" style="text-align:center ;">User Login</h5>
                    </div>
                   
                    <div class="card-body text-center">
                      <a class="btn btn-primary" (click)="load_createOrder()" style="width: 150px;">Place Order</a>
                    
                    </div>
                  </div>

            </div>
        </div>
      </div>
  </div>
